<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfans.datadao.AssetScaleRankMapper" >
  <resultMap id="BaseResultMap" type="com.dfans.model.AssetScaleRank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="quarter" property="quarter" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="active_scale" property="activeScale" jdbcType="REAL" />
    <result column="asset_scale" property="assetScale" jdbcType="REAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="totalString" type="java.lang.String" >
  	<result column="total" property="total" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, year, quarter, rank, name, active_scale, asset_scale, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset_scale_rank
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllActive" resultMap="BaseResultMap" parameterType="hashmap">
    select 
    <include refid="Base_Column_List" />
    from asset_scale_rank where 1=1 
    and type =1
    order by id desc limit #{page},10 
  </select>
  
  <select id="selectCountActive" resultMap="totalString" parameterType="hashmap">
    select count(id) total from asset_scale_rank  where type =1
  </select>
  
  <select id="selectAllRank" resultMap="BaseResultMap" parameterType="hashmap">
    select 
    <include refid="Base_Column_List" />
    from asset_scale_rank where 1=1 
    and type =2
    order by id desc limit #{page},10 
  </select>
  
  <select id="selectCountRank" resultMap="totalString" parameterType="hashmap">
    select count(id) total from asset_scale_rank  where type =2
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset_scale_rank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfans.model.AssetScaleRank" >
    insert into asset_scale_rank (id, year, quarter, 
      rank, name, active_scale, 
      asset_scale, type)
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}, #{quarter,jdbcType=INTEGER}, 
      #{rank,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{activeScale,jdbcType=REAL}, 
      #{assetScale,jdbcType=REAL}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dfans.model.AssetScaleRank" >
    insert into asset_scale_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="quarter != null" >
        quarter,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="activeScale != null" >
        active_scale,
      </if>
      <if test="assetScale != null" >
        asset_scale,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null" >
        #{quarter,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="activeScale != null" >
        #{activeScale,jdbcType=REAL},
      </if>
      <if test="assetScale != null" >
        #{assetScale,jdbcType=REAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfans.model.AssetScaleRank" >
    update asset_scale_rank
    <set >
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null" >
        quarter = #{quarter,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="activeScale != null" >
        active_scale = #{activeScale,jdbcType=REAL},
      </if>
      <if test="assetScale != null" >
        asset_scale = #{assetScale,jdbcType=REAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfans.model.AssetScaleRank" >
    update asset_scale_rank
    set year = #{year,jdbcType=INTEGER},
      quarter = #{quarter,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      active_scale = #{activeScale,jdbcType=REAL},
      asset_scale = #{assetScale,jdbcType=REAL},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectActiveRank" resultType="hashmap" parameterType="hashmap" >
	select year,quarter,rank,REPLACE(REPLACE(NAME,'（','('),'）',')') name,active_scale,asset_scale,type
	from asset_scale_rank
	where 1=1 and type=1
	<if test="year != null" >
      and	year = #{year}
    </if>
	<if test="quarter != null" >
      and	quarter = #{quarter}
    </if>
	<if test="name != null" >
      and	REPLACE(REPLACE(NAME,'（','('),'）',')') = #{name}
    </if>
	<if test="page != null" >
      	limit ${page},${count}
    </if>
  </select>
  <select id="selectScaleRank" resultType="hashmap" parameterType="hashmap" >
	select year,quarter,rank,REPLACE(REPLACE(NAME,'（','('),'）',')') name,active_scale,asset_scale,type 
	from asset_scale_rank
	where 1=1 and type=2
	<if test="year != null" >
      and	year = #{year}
    </if>
	<if test="quarter != null" >
      and	quarter = #{quarter}
    </if>
	<if test="name != null" >
      and	REPLACE(REPLACE(NAME,'（','('),'）',')') = #{name}
    </if>
	<if test="page != null" >
      	limit ${page},${count}
    </if>
  </select>
  
  <select id="selectAssetScaleRankMaxDate" resultType="java.lang.String" >
   select concat(MAX(YEAR),MAX(quarter)) from asset_scale_rank where year  = (select max(year) from asset_scale_rank) and quarter !=""
  </select>
  
</mapper>