<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfans.dao.FreeTrialMapper">
	<resultMap id="BaseResultMap" type="com.dfans.model.FreeTrial">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userid" jdbcType="INTEGER" property="userid" />
		<result column="sdate" jdbcType="TIMESTAMP" property="sdate" />
		<result column="edate" jdbcType="TIMESTAMP" property="edate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userid, sdate, edate
	</sql>
	<select id="selectByUidPid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from free_trial
		where userid = #{uid,jdbcType=INTEGER} and treeid =
		#{treeid,jdbcType=INTEGER}
	</select>
	<insert id="saveTrailRecord" parameterType="com.dfans.model.FreeTrial">
		insert into free_trial ( treeid, userid,
		sdate, edate)
		values ( #{treeid,jdbcType=INTEGER},
		#{userid,jdbcType=INTEGER},
		#{sdate,jdbcType=TIMESTAMP}, #{edate,jdbcType=TIMESTAMP})
	</insert>
</mapper>