<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfans.datadao.FuturesEmpMapper" >
  <resultMap id="BaseResultMap" type="com.dfans.model.FuturesEmp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="base_id" property="baseId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="cyzgh" property="cyzgh" jdbcType="VARCHAR" />
    <result column="cyzsh" property="cyzsh" jdbcType="VARCHAR" />
    <result column="rzbm" property="rzbm" jdbcType="VARCHAR" />
    <result column="dic_position" property="dicPosition" jdbcType="INTEGER" />
    <result column="cdate" property="cdate" jdbcType="DATE" />
  </resultMap>
   <resultMap id="totalString" type="java.lang.String" >
  	<result column="total" property="total" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, base_id, name, sex, cyzgh, cyzsh, rzbm, dic_position, cdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from futures_emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectAll" resultMap="BaseResultMap" parameterType="hashmap">
    select 
    <include refid="Base_Column_List" />

    from futures_emp where 1=1 
    and base_id = #{baseId}
    order by id desc limit #{page},10 
  </select>
  
  <select id="selectCount" resultMap="totalString" parameterType="hashmap">
    select count(id) total from futures_emp 
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from futures_emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfans.model.FuturesEmp" >
    insert into futures_emp (id, base_id, name, 
      sex, cyzgh, cyzsh, 
      rzbm, dic_position, cdate
      )
    values (#{id,jdbcType=INTEGER}, #{baseId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{cyzgh,jdbcType=VARCHAR}, #{cyzsh,jdbcType=VARCHAR}, 
      #{rzbm,jdbcType=VARCHAR}, #{dicPosition,jdbcType=INTEGER}, #{cdate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dfans.model.FuturesEmp" >
    insert into futures_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="baseId != null" >
        base_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="cyzgh != null" >
        cyzgh,
      </if>
      <if test="cyzsh != null" >
        cyzsh,
      </if>
      <if test="rzbm != null" >
        rzbm,
      </if>
      <if test="dicPosition != null" >
        dic_position,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseId != null" >
        #{baseId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="cyzgh != null" >
        #{cyzgh,jdbcType=VARCHAR},
      </if>
      <if test="cyzsh != null" >
        #{cyzsh,jdbcType=VARCHAR},
      </if>
      <if test="rzbm != null" >
        #{rzbm,jdbcType=VARCHAR},
      </if>
      <if test="dicPosition != null" >
        #{dicPosition,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfans.model.FuturesEmp" >
    update futures_emp
    <set >
      <if test="baseId != null" >
        base_id = #{baseId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="cyzgh != null" >
        cyzgh = #{cyzgh,jdbcType=VARCHAR},
      </if>
      <if test="cyzsh != null" >
        cyzsh = #{cyzsh,jdbcType=VARCHAR},
      </if>
      <if test="rzbm != null" >
        rzbm = #{rzbm,jdbcType=VARCHAR},
      </if>
      <if test="dicPosition != null" >
        dic_position = #{dicPosition,jdbcType=INTEGER},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfans.model.FuturesEmp" >
    update futures_emp
    set base_id = #{baseId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      cyzgh = #{cyzgh,jdbcType=VARCHAR},
      cyzsh = #{cyzsh,jdbcType=VARCHAR},
      rzbm = #{rzbm,jdbcType=VARCHAR},
      dic_position = #{dicPosition,jdbcType=INTEGER},
      cdate = #{cdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>