<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfans.datadao.InsurancePersionMapper" >
  <resultMap id="BaseResultMap" type="com.dfans.model.InsurancePersion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="statistical_time" property="statisticalTime" jdbcType="DATE" />
    <result column="capital_structure" property="capitalStructure" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="insu_prem_inco" property="insuPremInco" jdbcType="DECIMAL" />
    <result column="insu_adde_pay" property="insuAddePay" jdbcType="DECIMAL" />
    <result column="segr_adde_pay" property="segrAddePay" jdbcType="DECIMAL" />
  </resultMap>
  
  <resultMap id="totalString" type="java.lang.String">
		<result column="total" property="total" jdbcType="VARCHAR" />
	</resultMap>
	
  <sql id="Base_Column_List" >
    id, statistical_time, capital_structure, company_name, insu_prem_inco, insu_adde_pay, 
    segr_adde_pay
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from insurance_persion
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="hashmap">
		select
		<include refid="Base_Column_List" />
		from insurance_persion where 1=1
		order by statistical_time DESC  limit ${page},10
	</select>
	<select id="selectCount" resultMap="totalString" parameterType="hashmap">
		select count(id) total from insurance_persion
	</select>
  
	  <select id="selectPersionByTime" resultMap="BaseResultMap" parameterType="hashmap">
		select
		<include refid="Base_Column_List" />
		from insurance_persion where 1=1 
		<if test="year != null" >
      	AND DATE_FORMAT(statistical_time,'%Y-%m') = #{year}
   		</if>
	</select>
	
	
	<select id="selectPersionByCompany" resultMap="BaseResultMap" parameterType="hashmap">
		select
		 <include refid="Base_Column_List" />
		from insurance_persion where 1=1 
		<if test="company != null" >
      	and company_name=#{company} 
   		</if>
   		<if test="year != null" >
      	and	DATE_FORMAT(statistical_time,'%Y') = #{year} 
   		</if>
		order by statistical_time asc
	</select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from insurance_persion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfans.model.InsurancePersion" >
    insert into insurance_persion (id, statistical_time, capital_structure, 
      company_name, insu_prem_inco, insu_adde_pay, 
      segr_adde_pay)
    values (#{id,jdbcType=INTEGER}, #{statisticalTime,jdbcType=DATE}, #{capitalStructure,jdbcType=INTEGER}, 
      #{companyName,jdbcType=VARCHAR}, #{insuPremInco,jdbcType=DECIMAL}, #{insuAddePay,jdbcType=DECIMAL}, 
      #{segrAddePay,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dfans.model.InsurancePersion" >
    insert into insurance_persion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statisticalTime != null" >
        statistical_time,
      </if>
      <if test="capitalStructure != null" >
        capital_structure,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="insuPremInco != null" >
        insu_prem_inco,
      </if>
      <if test="insuAddePay != null" >
        insu_adde_pay,
      </if>
      <if test="segrAddePay != null" >
        segr_adde_pay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statisticalTime != null" >
        #{statisticalTime,jdbcType=DATE},
      </if>
      <if test="capitalStructure != null" >
        #{capitalStructure,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="insuPremInco != null" >
        #{insuPremInco,jdbcType=DECIMAL},
      </if>
      <if test="insuAddePay != null" >
        #{insuAddePay,jdbcType=DECIMAL},
      </if>
      <if test="segrAddePay != null" >
        #{segrAddePay,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfans.model.InsurancePersion" >
    update insurance_persion
    <set >
      <if test="statisticalTime != null" >
        statistical_time = #{statisticalTime,jdbcType=DATE},
      </if>
      <if test="capitalStructure != null" >
        capital_structure = #{capitalStructure,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="insuPremInco != null" >
        insu_prem_inco = #{insuPremInco,jdbcType=DECIMAL},
      </if>
      <if test="insuAddePay != null" >
        insu_adde_pay = #{insuAddePay,jdbcType=DECIMAL},
      </if>
      <if test="segrAddePay != null" >
        segr_adde_pay = #{segrAddePay,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfans.model.InsurancePersion" >
    update insurance_persion
    set statistical_time = #{statisticalTime,jdbcType=DATE},
      capital_structure = #{capitalStructure,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      insu_prem_inco = #{insuPremInco,jdbcType=DECIMAL},
      insu_adde_pay = #{insuAddePay,jdbcType=DECIMAL},
      segr_adde_pay = #{segrAddePay,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectInsurancePersionMaxDate" resultType="java.lang.String" >
   select DATE_FORMAT(MAX(statistical_time),'%Y-%m') from insurance_persion 
  </select>
  
  
</mapper>