<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfans.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.dfans.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="right_id" property="rightId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="dis" property="dis" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, right_id, create_date, start_date, end_date, dis, price, admin_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
 <select id="getDataByUserId" resultType="com.dfans.model.User" parameterType="java.lang.Integer" >
   select r.`title`,r.`content`, u.`name`,u.`phone`,u.`email`,u.q`right_tree` from order_msg om,user u,right_tree r where u.`id`=#{userid} and om.`user_id`=u.`id` and om.`right_id`=r.`id`
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dfans.model.Order" >
    insert into order_msg (id, user_id, right_id, 
      create_date, start_date, end_date, 
      dis, price, admin_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{rightId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{dis,jdbcType=REAL}, #{price,jdbcType=REAL}, #{adminId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dfans.model.Order" >
    insert into order_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="rightId != null" >
        right_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="dis != null" >
        dis,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null" >
        #{rightId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dis != null" >
        #{dis,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfans.model.Order" >
    update order_msg
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="rightId != null" >
        right_id = #{rightId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dis != null" >
        dis = #{dis,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfans.model.Order" >
    update order_msg
    set user_id = #{userId,jdbcType=INTEGER},
      right_id = #{rightId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      dis = #{dis,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      admin_id = #{adminId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>