<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dfans.dao.UserSearchMapper" >
  <resultMap id="BaseResultMap" type="com.dfans.model.UserSearch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="c_date" property="cDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dfans.model.UserSearch" extends="BaseResultMap" >
    <result column="word" property="word" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, c_date ,type 
  </sql>
  <sql id="Blob_Column_List" >
    word
  </sql>
  
  <select id="selectByUser" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_search
    where user_id = #{userId,jdbcType=INTEGER} order by c_date desc
  </select>
  
  <select id="selectBySearch" resultMap="ResultMapWithBLOBs" parameterType="com.dfans.model.UserSearch" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_search
    where user_id = #{userId,jdbcType=INTEGER} and word = #{word,jdbcType=LONGVARCHAR} and type=#{type,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_search
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByUser" parameterType="com.dfans.model.UserSearch" >
    delete from user_search
    where word = #{word,jdbcType=LONGVARCHAR} and user_id=#{userId,jdbcType=INTEGER} and type=#{type,jdbcType=INTEGER}
  </delete>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_search
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dfans.model.UserSearch" >
    insert into user_search (id, user_id, word
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{word,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dfans.model.UserSearch" >
    insert into user_search
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        #{word,jdbcType=LONGVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dfans.model.UserSearch" >
    update user_search
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dfans.model.UserSearch" >
    update user_search
    set user_id = #{userId,jdbcType=INTEGER},
      word = #{word,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dfans.model.UserSearch" >
    update user_search
    set user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>